.btn-cssbuttons {
  --btn-color: #275efe;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 11rem;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) and (min-width: 576px) {
  .btn-cssbuttons {
    width: 9rem;
  }
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-decoration: none;
}

.btn-cssbuttons ul li .icon {
  color: white;
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes navborder {
  0% {
    transform: scale(0) translateY(40px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes img-home {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}
nav {
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  transition: 0.5s;
}
nav .icon-bargar {
  border: none;
}
nav .icon-bargar:focus {
  box-shadow: none;
}
nav .con {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 992px) {
  .icon {
    display: none;
  }
}

.non:focus {
  box-shadow: none;
}

svg path:nth-child(1) {
  stroke-dasharray: 71;
  stroke-dashoffset: 71;
  animation: line-anim 2s ease forwards 0.3ms;
}
svg path:nth-child(2) {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
  animation: line-anim 2s ease forwards 0.6ms;
}
svg path:nth-child(3) {
  stroke-dasharray: 67;
  stroke-dashoffset: 67;
  animation: line-anim 2s ease forwards 0.9ms;
}
svg path:nth-child(4) {
  stroke-dasharray: 67;
  stroke-dashoffset: 67;
  animation: line-anim 2s ease forwards 1.1ms;
}
svg path:nth-child(5) {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  animation: line-anim 2s ease forwards 1.4ms;
}
svg path:nth-child(6) {
  stroke-dasharray: 78;
  stroke-dashoffset: 78;
  animation: line-anim 2s ease forwards 1.7ms;
}
svg path:nth-child(7) {
  stroke-dasharray: 87;
  stroke-dashoffset: 87;
  animation: line-anim 2s ease forwards 2ms;
}

footer {
  padding: 4rem 0 9rem 0;
  color: #fff;
  text-align: center;
  background-color: hsl(224, 56%, 12%);
}
footer svg path:nth-child(1) {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation: line-anim 2s ease forwards 0.3ms;
}
footer svg path:nth-child(2) {
  stroke-dasharray: 102;
  stroke-dashoffset: 102;
  animation: line-anim 2s ease forwards 0.6ms;
}
footer svg path:nth-child(3) {
  stroke-dasharray: 98;
  stroke-dashoffset: 98;
  animation: line-anim 2s ease forwards 0.9ms;
}
footer svg path:nth-child(4) {
  stroke-dasharray: 98;
  stroke-dashoffset: 98;
  animation: line-anim 2s ease forwards 1.1ms;
}
footer svg path:nth-child(5) {
  stroke-dasharray: 99;
  stroke-dashoffset: 99;
  animation: line-anim 2s ease forwards 1.4ms;
}
footer svg path:nth-child(6) {
  stroke-dasharray: 116;
  stroke-dashoffset: 116;
  animation: line-anim 2s ease forwards 1.7ms;
}
footer svg path:nth-child(7) {
  stroke-dasharray: 129;
  stroke-dashoffset: 129;
  animation: line-anim 2s ease forwards 2ms;
}

.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1111;
}
.loader svg path:nth-child(1) {
  stroke-dasharray: 723;
  stroke-dashoffset: 723;
  animation: line-anim 2s ease forwards 1.7ms;
}
.loader svg path:nth-child(2) {
  stroke-dasharray: 673;
  stroke-dashoffset: 673;
  animation: line-anim 2s ease forwards 1.7ms;
}
.loader svg path:nth-child(3) {
  stroke-dasharray: 614;
  stroke-dashoffset: 614;
  animation: line-anim 2s ease forwards 1.7ms;
}
.loader svg path:nth-child(4) {
  stroke-dasharray: 614;
  stroke-dashoffset: 614;
  animation: line-anim 2s ease forwards 1.7ms;
}
.loader svg path:nth-child(5) {
  stroke-dasharray: 791;
  stroke-dashoffset: 791;
  animation: line-anim 2s ease forwards 1.7ms;
}
.loader svg path:nth-child(6) {
  stroke-dasharray: 989;
  stroke-dashoffset: 989;
  animation: line-anim 2s ease forwards 1.7ms;
}
.loader svg path:nth-child(7) {
  stroke-dasharray: 801;
  stroke-dashoffset: 801;
  animation: line-anim 2s ease forwards 1.7ms;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.settings-box {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 200px;
  background: aquamarine;
}

.home {
  display: block;
  width: 100%;
  height: 110vh;
}
.home .container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home .container .row {
  width: 100%;
}
@media (max-width: 575px) {
  .home .container {
    top: 0%;
    left: 0%;
    position: absolute;
    transform: translate(0%, 0%);
  }
}
.home .container h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 0.5rem;
}
@media (max-width: 319px) {
  .home .container h1 {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home .container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .home .container h1 {
    font-size: 2.9rem;
  }
}
.home .container h1 span {
  color: hsl(224, 89%, 60%);
}
@media (max-width: 319px) {
  .home .container h1 span {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home .container h1 span {
    font-size: 2rem;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .home .container h1 span {
    font-size: 2.9rem;
  }
}
.home .container .text-skills {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
}
@media (max-width: 319px) {
  .home .container .text-skills {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home .container .text-skills {
    font-size: 1.6rem;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .home .container .text-skills {
    font-size: 1.8rem;
  }
}
.home .container .text-skills::before {
  content: "web developer";
  color: black;
  animation: words 20s infinite;
}
.home .container .text-skills::after {
  content: "";
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: calc(100% + 8px);
  height: 75%;
  border-left: 3px solid rgb(255, 255, 255);
  right: -8px;
  animation: cursor 2s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid rgb(0, 0, 0);
  }
}
@keyframes words {
  0%, 20% {
    content: "Frontend Developer";
  }
  21%, 40% {
    content: "Web Designer";
  }
  41%, 60% {
    content: "UI / UX Designer";
  }
  61%, 80% {
    content: "Web Developer";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
.home .container div:nth-child(2) {
  align-self: end;
  display: flex;
}
@media (max-width: 575px) {
  .home .container div:nth-child(2) {
    width: 75%;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .home .container div:nth-child(2) {
    width: 50%;
    margin-top: -100px;
  }
}
@media (min-width: 576px) and (max-width: 766px) {
  .home .container div:nth-child(2) {
    width: 50%;
    margin-top: -350px;
  }
}
.home .container div:nth-child(2) svg {
  fill: hsl(224, 89%, 60%);
}
.home .container div:nth-child(2) svg g {
  animation: img-home 8s 0s ease infinite alternate;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container div:nth-child(2) svg g image {
  position: absolute;
  width: 65%;
  x: 77;
  y: 69;
}

.about {
  box-shadow: 0px 0 25px -18px black;
}
.about .row {
  align-items: center;
  text-align: initial;
}
.about .row img {
  width: 75%;
  box-shadow: 0px 0 23px -15px black;
}
.about .row h2 {
  font-weight: bold;
  font-size: 2rem;
}
.about .row p {
  font-size: 1.1rem;
}

.skills {
  margin: 200px 0;
}
.skills .container .row img {
  box-shadow: 0px 0 23px -15px black;
  border-radius: 30px;
}
.skills .container .row .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.skills .container .row .con div:nth-child(2) img {
  height: 28rem;
  width: 20%;
}
.skills .container .row .con div:nth-child(1) {
  display: flex;
  align-items: center;
}
.skills .container .row .con .icon {
  color: hsl(224, 89%, 60%);
  font-size: 1.6rem;
}
.skills .container .row .skills-width {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: hsl(224, 89%, 60%);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -1;
  transition: width 0.5s ease;
}

.work {
  box-shadow: 0px 0 25px -18px black;
}
.work .container .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 2rem;
}
@media (min-width: 767px) and (max-width: 992px) {
  .work .container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 766px) {
  .work .container .row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.work .container .row .col {
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0 23px -15px black;
}
.work .container .row .col img {
  transition: 1s;
}
.work .container .row .col img:hover {
  transform: scale(1.1);
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
body .scrolled {
  box-shadow: 0 1px 18px -10px black;
  transition: 0.5s;
}
body .content .hidden {
  display: none;
}
body .fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style-sass.css.map */