
.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1111;

    svg path:nth-child(1) {
        stroke-dasharray: 723;
        stroke-dashoffset: 723;
        animation: line-anim 2s ease forwards 1.7ms;
    }
    svg path:nth-child(2) {
        stroke-dasharray: 673;
        stroke-dashoffset: 673;
        animation: line-anim 2s ease forwards 1.7ms;
    }
    svg path:nth-child(3) {
        stroke-dasharray: 614;
        stroke-dashoffset: 614;
        animation: line-anim 2s ease forwards 1.7ms;
    }
    svg path:nth-child(4) {
        stroke-dasharray: 614;
        stroke-dashoffset: 614;
        animation: line-anim 2s ease forwards 1.7ms;
    }
    svg path:nth-child(5) {
        stroke-dasharray: 791;
        stroke-dashoffset: 791;
        animation: line-anim 2s ease forwards 1.7ms;
    }
    svg path:nth-child(6) {
        stroke-dasharray: 989;
        stroke-dashoffset: 989;
        animation: line-anim 2s ease forwards 1.7ms;
    }
    svg path:nth-child(7) {
        stroke-dasharray: 801;
        stroke-dashoffset: 801;
        animation: line-anim 2s ease forwards 1.7ms;
    }


    @keyframes line-anim {
        to {
            stroke-dashoffset: 0;
        }
    }
}
