@use '../components/buttons';
@use '../helpers/variable' as *;
@use '../helpers/anim' as *;

.home {
    display: block;
    width: 100%;
    height: 100vh;

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        height: calc(100% + 60px);

        .row {
            width: 100%;
        }

        @media (max-width:575px) {
            top: 0%;
            left: 0%;
            position: absolute;
            transform: translate(0%, 0%);
        }

        h1 {
            font-size: 4rem;
            font-weight: bold;
            padding: .5rem;

            @media (max-width:319px) {
                font-size: 2rem;
            }

            @media (min-width:320px) and (max-width:767px) {
                font-size: 2rem;
            }

            @media (max-width:992px) and (min-width:767px) {
                font-size: 2.9rem;
            }


            span {
                color: $color-blue;
                @media (max-width:319px) {
                    font-size: 2rem;
                }
    
                @media (min-width:320px) and (max-width:767px) {
                    font-size: 2rem;
                }
    
                @media (max-width:992px) and (min-width:767px) {
                    font-size: 2.9rem;
                }
            }
        }

        div:nth-child(1) {
            align-self: center;
        }

        div:nth-child(2) {

            display: flex;

            @media (max-width:575px) {
                width: 75%;

            }

            @media (min-width:767px) and (max-width:992px) {
                width: 50%;
                margin-top: -100px;
            }

            @media (min-width:576px) and (max-width:766px) {
                width: 50%;
                margin-top: -350px;
            }

            svg {
                fill: $color-blue;

                g {
                    animation: img-home 8s 0s ease infinite alternate;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    image {
                        position: absolute;
                        width: 65%;
                        x: 77;
                        y: 69;
                    }
                }
            }
        }
    }


}