@use '../components/buttons';
@use '../helpers/variable' as *;
@use '../helpers/anim' as *;

.home {
    display: block;
    width: 100%;
    height: 110vh;
    // box-shadow: 0 1px 58px -25px black;

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        height: calc(100%);

        .row {
            width: 100%;
        }

        @media (max-width:575px) {
            top: 0%;
            left: 0%;
            position: absolute;
            transform: translate(0%, 0%);
        }

        h1 {
            font-size: 4rem;
            font-weight: bold;
            padding: .5rem;

            @media (max-width:319px) {
                font-size: 2rem;
            }

            @media (min-width:320px) and (max-width:767px) {
                font-size: 2rem;
            }

            @media (max-width:992px) and (min-width:767px) {
                font-size: 2.9rem;
            }


            span {
                color: $color-blue;

                @media (max-width:319px) {
                    font-size: 2rem;
                }

                @media (min-width:320px) and (max-width:767px) {
                    font-size: 2rem;
                }

                @media (max-width:992px) and (min-width:767px) {
                    font-size: 2.9rem;
                }
            }
        }

        .text-skills {
            font-size: 1.8rem;
            text-transform: capitalize;
            font-weight: 600;
            position: relative;

            @media (max-width:319px) {
                font-size: 1.6rem;
            }

            @media (min-width:320px) and (max-width:767px) {
                font-size: 1.1rem;
            }

            @media (max-width:992px) and (min-width:767px) {
                font-size: 1.2rem;
            }

            &::before {
                content: "web developer";
                color: black;
                animation: words 20s infinite;
            }

            &::after {
                content: "";
                background-color: rgb(255, 255, 255);
                position: absolute;
                width: calc(100% + 8px);
                height: 75%;
                border-left: 3px solid rgb(255, 255, 255);
                right: -8px;
                animation: cursor 2s infinite,
                    typing 20s steps(14) infinite;
            }

            @keyframes cursor {
                to {
                    border-left: 2px solid rgb(0, 0, 0);
                }
            }

            @keyframes words {

                0%,
                20% {
                    content: "Frontend Developer";
                }

                21%,
                40% {
                    content: "Web Designer";
                }

                41%,
                60% {
                    content: "UI / UX Designer";
                }

                61%,
                80% {
                    content: "Web Developer";
                }

            }

            @keyframes typing {

                10%,
                15%,
                30%,
                35%,
                50%,
                55%,
                70%,
                75%,
                90%,
                95% {
                    width: 0;
                }

                5%,
                20%,
                25%,
                40%,
                45%,
                60%,
                65%,
                80%,
                85% {
                    width: calc(100% + 8px);
                }
            }

        }

        div:nth-child(2) {
            align-self: end;
            display: flex;
            width: 50%;

            svg {
                fill: $color-blue;
                width: 70%;

                @media (max-width:767px) {
                    width: 100%;
                }

                g {
                    animation: img-home 8s 0s ease infinite alternate;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    image {
                        position: absolute;
                        width: 65%;
                        x: 77;
                        y: 69;
                    }
                }
            }
        }
    }


}