// header icon logo
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

// nav 
@keyframes navborder {
    0% {
      transform: scale(0) translateY(40px);
    }
    
    100% {
      transform: scale(1) translateY(0);
    }
  }

  // home

  @keyframes img-home {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(15px);
    }
  }
  