// header icon logo
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}



// nav 
@keyframes navborder {
    0% {
      transform: scale(1) translateY(0);
    }
  
    100% {
      transform: scale(0) translateY(50px);
    }
  }